---
layout: default
---
  <div class="site-category">
    <ul class='cat1'>
      <li ><a href="/category/Daily" class="ctext">Daily</a>
      </li>
      <li ><a href="/" class="ctext">Project</a>
        <ul>
          <li ><a href="/category/Noise_surpression" class="ctext">Noise surpression</a></li>
          <li ><a href="/category/MaskImgClf" class="ctext">Mask Image Classification</a></li>
          <li ><a href="/category/KLUE" class="ctext">KLUE: Relation Extraction</a></li>
          <li ><a href="/category/DialogueSummary" class="ctext">훈민정음에 스며들다 - 대화 요약</a></li>
        </ul>
      </li>
      <li><a href="/" class="ctext">Study</a>
        <ul>
          <li><a href="/category/Tech_interview" class="ctext">Tech_interview</a></li>
          <li><a href="/category/ML_AI" class="ctext">ML/AI</a></li>
          <li><a href="/category/NLP" class="ctext">NLP</a></li>
          <li><a href="/category/Serving" class="ctext">Serving</a></li>
          <li><a href="/category/Pytorch" class="ctext">Pytorch</a></li>
          <li><a href="/category/Paper" class="ctext">Paper</a></li>
          <li><a href="/category/Algorithm" class="ctext">Algorithm</a></li>
          <li><a href="/category/Visualize" class="ctext">Visualize</a></li>
          <li><a href="/category/Blog" class="ctext">Git blog</a></li>
          <li><a href="/category/ETC" class="ctext">ETC</a></li>
        </ul>
      </li>
      <li><a href="/" class="ctext">AI tech(부스트캠프)</a>
        <ul>
          <li><a href="/category/ustage" class="ctext">U-Stage</a></li>
          <li><a href="/category/pstage" class="ctext">P-Stage</a></li>
        </ul>
      </li>
      <li><a href="/" class="ctext">취준</a>
        <ul>
          <li><a href="/category/Line" class="ctext">Line</a></li>
        </ul>
      </li>

    </ul>
    </div>


  <ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
	<li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        <!--<div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div> 내용 표시 -->
      </li>
    <!--<li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>-->
  {% endfor %}
  
</ul>